.forText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;

}
	
.forHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #666666;
	letter-spacing: 1px;


}
.forForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	text-indent: 3px;
	border-top: 1px solid #999999;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #999999;



}
.forFormDim {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #B4B4B4;
	background-color: #F5F5F5;
	text-indent: 3px;
	color: #999999;

}



.forButton {
	background-color: #EBEBEB;
	color: #666666;
	font-size: 11px;
	font-family: verdana;
	font-weight: bold;
	border-bottom: 2px inset #666666;
	border-right: 2px inset #666666;
}
.forTableBgLeft {
	background-color: #EBEBEB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
}
.forTableBgRight {
	background-color: #F3F3F3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
}
.Header_Footer_bg {

	background-color: #E6E6E6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.style1 {
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
}